---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'

---

<Layout title="SpaceX Launches">
	<main>
	<Header />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: auto;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: yellow;
		font-size: 20px;
		line-height: 1.6;
		border: 1px solid red;
	}
</style>
