---
console.log('javascript')
---

<header>
    <main>
        <div>
        <h2>SpaceX launches</h2>
        <p>All the information about SpaceX launches</p>
    </div>
    <nav class="flex flex-col items-center justify-between w-full text-center md-flex-row">
        <a href="/">Últimos lanzamientos</a>
        <a href="/about">Sobre nosotros</a>
    </nav>
    </main>
    
</header>

<style>
    div{

    }
</style>